<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Koa • Todo</title>
    <link rel="stylesheet" href="/todomvc-common/base.css">
    <!-- <link rel="stylesheet" href="css/app.css"> -->
  </head>
  <body>
    <section id="todoapp"></section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="https://github.com/dead-horse" target=_blank>dead-horse</a></p>
      <p>Powered by <a href="http://koajs.com" target=_blank>koa</a> and <a href="http://facebook.github.io/react/" target=_blank>react</p>
      <p>Styles from <a href="http://todomvc.com" target=_blank>TodoMVC</a></p>
    </footer>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
