<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>TODO</title>
  <link href="/styles/reset.css" rel="stylesheet" type="text/css" />
  <link href="/styles/index/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
  <div class="header box">
    <h1><a href="/">TODO</a></h1>
  </div>

  <div class="main box">
  <%- body %>
  </div>

  <div class="foot">
    Copyright &copy; <a href="http://deadhorse.me" target="_blank">dead_horse</a>
    |
    versoin: <%- config.version %>
  </div>
</div>
</body>
</html>
